@import "_fonts";
@import "_globalVariables";
@import "_mixins";

.comments__section {
  display: flex;
  @include tablet-breakpoint {
    margin: 0 24px 0 24px;
  }
  @include desktop-breakpoint {
    margin: 0 130px 0 130px;
  }

  .comments__title {
    display: flex;
    color: $black;
    width: auto;
    @include tablet-breakpoint {
      @include tabdesk-small-header;
    }
  }

  .comments__table {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;

    .enter__table {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;

      .comments-form {
        list-style: none;
        text-decoration: none;
        &__name {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          @include desktop-breakpoint;
        }
        &__text {
          padding: 0.625rem;
        }

        &__comment {
          margin-left: 3rem;
        }
      }
      .enter__table ul {
        .comments-list {
          list-style: none;
        }
      }
      .comments-list {
        list-style: none;
      }
      .list-message li {
        list-style: none;
        text-decoration: none;
      }
    }
    .comments-list {
      list-style: none;
    }
  }
}

.default__comment {
  width: auto;
  margin: 0;
}
