// @import "partials/common";
// @import "partials/mobile-styles";
// @import "partials/tablet-styles";
// @import "partials/desk-styles";
@import "_fonts";
@import "_globalVariables";
@import "_mixins";

body {
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.main_wrapper {
  background-color: $black;
  color: $mercury;
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin: 0;

  @include tablet-breakpoint {
    flex-direction: row;
    width: 100%;
    height: 80px;
  }
}

.main-nav {
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    @include tablet-breakpoint {
      flex-direction: row;
      justify-content: left;
      padding-right: 40%;
      @include desktop-breakpoint {
        margin-left: 180px;
        @include tabdesk-small-header;
      }
    }

    .nav-home__link {
      text-decoration: none;
    }

    .logo {
      display: flex;
      max-width: min-content;
      text-transform: uppercase;
      justify-content: center;
      margin: 16px 16px 0 16px;
      color: $mercury;
      @include mobile-header;
      @include tablet-breakpoint {
        margin: 40px 0 40px 24px;
        @include tabdesk-logo;
      }
      @include desktop-breakpoint {
        @include tabdesk-small-header;
        text-transform: uppercase;
      }
    }
  }
  &__list {
    padding: 0;
    display: flex;
    width: 100%;
    margin: 0;
    color: $silver;
    @include mobile-paragraph;
    @include tablet-breakpoint {
      width: 100%;
      justify-content: space-evenly;
    }
    @include desktop-breakpoint {
      justify-content: flex-start;
    }
  }
  &__items {
    width: 100%;
    display: flex;
    justify-content: center;
    color: $silver;
    list-style: none;
    text-decoration: none;
    margin-top: 0;
    @include tablet-breakpoint {
      @include tabdesk-subheader;
      width: auto;
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop-breakpoint {
      margin-left: 56px;
    }
    a {
      display: block;
      text-decoration: none;
      color: $mercury;
      width: 100%;
      text-align: center;
      padding: 10px;
      border-bottom: 5px solid transparent;
      @include tablet-breakpoint {
        margin: 0;
        width: 100%;
        padding: 25px 0 25px 0;
      }
    }
    a.active {
      border-bottom-color: $white;
    }
  }
}
