// @import "partials/common";
// @import "partials/mobile-styles";
// @import "partials/tablet-styles";
// @import "partials/desk-styles";
@import "partials/fonts";
@import "partials/_globalVariables";
@import "partials/_mixins";

//HERO SECTION

.hero-section {
  background-image: url(../assets/images/concert-1.jpg);
  height: 183px;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet-breakpoint {
    height: 400px;
  }
  @include desktop-breakpoint {
    height: 670px;
    justify-content: left;
  }
}
.hero-section__title {
  color: $white;
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: 16px;
  margin-right: 16px;
  @include mobile-header;
  @include tablet-breakpoint {
    @include tabdesk-hero-header;
    text-align: left;
    margin-right: 30%;
  }
  @include desktop-breakpoint {
    margin-left: 180px;
    margin-right: 50%;
  }
}
