// @import "partials/common";
// @import "partials/mobile-styles";
// @import "partials/tablet-styles";
// @import "partials/desk-styles";
@import "partials/fonts";
@import "partials/_globalVariables";
@import "partials/_mixins";

body {
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.main_wrapper {
  background-color: $black;
  color: $mercury;
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin: 0;

  @include tablet-breakpoint {
    flex-direction: row;
    width: 100%;
    height: 80px;
  }
}

.main-nav {
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    @include tablet-breakpoint {
      flex-direction: row;
      justify-content: left;
      padding-right: 40%;
      @include desktop-breakpoint {
        margin-left: 180px;
        @include tabdesk-small-header;
      }
    }

    .nav-home__link {
      text-decoration: none;
    }

    .logo {
      display: flex;
      max-width: min-content;
      text-transform: uppercase;
      justify-content: center;
      margin: 16px 16px 0 16px;
      color: $mercury;
      @include mobile-header;
      @include tablet-breakpoint {
        margin: 40px 0 40px 24px;
        @include tabdesk-small-header;
      }
      @include desktop-breakpoint {
        @include tabdesk-small-header;
        text-transform: uppercase;
      }
    }
  }
  &__list {
    padding: 0;
    display: flex;
    width: 100%;
    margin: 0;
    color: $silver;
    @include mobile-paragraph;
    @include tablet-breakpoint {
      width: 100%;
      justify-content: space-evenly;
    }
    @include desktop-breakpoint {
      justify-content: flex-start;
    }
  }
  &__items {
    width: 100%;
    display: flex;
    justify-content: center;
    color: $silver;
    list-style: none;
    text-decoration: none;
    margin-top: 0;
    @include tablet-breakpoint {
      @include tabdesk-subheader;
      width: auto;
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop-breakpoint {
      margin-left: 56px;
    }
    a {
      display: block;
      text-decoration: none;
      color: $mercury;
      width: 100%;
      text-align: center;
      padding: 10px;
      border-bottom: 5px solid transparent;
      @include tablet-breakpoint {
        margin: 0;
        width: 100%;
        padding: 25px 0 25px 0;
      }
    }
    a.active {
      border-bottom-color: $white;
    }
  }
}

//HERO SECTION

.hero-section {
  background-image: url(../assets/images/concert-1.jpg);
  height: 183px;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet-breakpoint {
    height: 400px;
  }
  @include desktop-breakpoint {
    height: 670px;
    justify-content: left;
  }
}
.hero-section__title {
  color: $white;
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: 16px;
  margin-right: 16px;
  @include mobile-header;
  @include tablet-breakpoint {
    @include tabdesk-hero-header;
    text-align: left;
    margin-right: 30%;
  }
  @include desktop-breakpoint {
    margin-left: 180px;
    margin-right: 50%;
  }
}

// MAIN ARTICLE SECTION

.article-section__wrapper {
  margin-left: 16px;
  margin-right: 16px;
  max-width: 100%;
  @include tablet-breakpoint {
    margin: 0 24px 0 24px;
  }
  @include desktop-breakpoint {
    margin: 48px 180px 48px 180px;
    display: flex;
    flex-direction: column;
  }
}
.article-section__title {
  @include mobile-header;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 24px;
  @include tablet-breakpoint {
    @include tabdesk-header;
  }
  @include desktop-breakpoint {
    margin: 0 0 48px 0;
  }
}

.article-section {
  @include tablet-breakpoint {
  }
  @include desktop-breakpoint {
    margin: 0 80px 0 80px;
  }
}

.article-section__img {
  img {
    width: 100%;
    margin: 0;
    text-align: center;

    @include tablet-breakpoint {
      object-fit: cover;
    }
    @include desktop-breakpoint {
      display: flex;
    }
  }
}

.article-text {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  @include mobile-paragraph;
  color: $black;
  @include tablet-breakpoint {
    @include tabdesk-small-header;
    font-size: 20px;
  }

  .article-quotation h3 {
    @include tablet-breakpoint {
      @include font-bold;
      font-size: 24px;
      line-height: 32px;
    }
    @include desktop-breakpoint {
      padding-top: 48px;
      margin: 0;
    }
  }

  .quotation-author h3 {
    @include tabdesk-comments;
    @include desktop-breakpoint {
      padding: 40px 0 56px 0;
      margin: 0;
    }
  }
  .article-name h3 {
    margin-bottom: 24px;
    @include tablet-breakpoint {
      @include font-bold;
      font-size: 24px;
      line-height: 32px;
    }
    @include desktop-breakpoint {
      margin: 0;
      padding-bottom: 32px;
      @include font-bold;
      font-size: 24px;
      line-height: 32px;
    }
  }
}
.article-text__wrapper {
  margin: 0;
  @include labels;
  color: $black;
  @include tablet-breakpoint {
    display: flex;
  }
}

.about-band {
  margin-bottom: 24px;
  margin-top: 0;
  @include tablet-breakpoint {
    margin: 0 12px 0 0;
  }
}
.about-band2 {
  margin-bottom: 40px;
  @include tablet-breakpoint {
    margin: 0 0 0 12px;
  }
}

//PHOTO-GALLERY SECTION

.gallery__wrapper {
  margin: 0;
  background-color: $alabaster;
  max-width: 100%;

  @include tablet-breakpoint {
    margin-bottom: 24px;
  }
  @include desktop-breakpoint {
    padding: 0 130px 0 138px;
  }
}
.gallery-title {
  @include mobile-header;
  margin: 32px 16px 24px 16px;
  padding-top: 32px;
  @include tablet-breakpoint {
    @include tabdesk-header;
  }
  @include desktop-breakpoint {
    margin: 0;
    padding: 48px 0 52px 0;
  }
}
.gallery-img__wrapper {
  bottom: 16px;
  max-width: 100%;
  object-fit: contain;
  margin: 0px 16px 0px 16px;
  @include tablet-breakpoint {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  img {
    margin-bottom: 16px;
    @include tablet-breakpoint {
      width: calc(33.3% - 24px);
      margin: 12px;
    }
  }
  @include tablet-breakpoint {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

//FOOTER SECTION

.footer__wrapper {
  background-color: $black;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  @include tablet-breakpoint {
    justify-content: space-evenly;
  }
  @include desktop-breakpoint {
    padding: 0 130px 48px 130px;
  }
}
.footer-social {
  @include font-bold;
  margin: 0px 16px 0;
  display: flex;
  flex-direction: column;
  left: 9px;
  padding: 25px 40px 20px 0;
  @include tablet-breakpoint {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: 0 24px 0 24px;
    .footer-title {
      @include tabdesk-header;
      margin: 0;
    }
  }
}

.social-media {
  margin-right: 40px;
  display: flex;
  justify-content: flex-start;
  margin: 16px 0 0 0;
  @include tablet-breakpoint {
    margin-top: 0;
    justify-content: space-evenly;
    height: auto;
    display: flex;
    @include mobile-header;
    padding-right: 20%;
  }
  @include desktop-breakpoint {
    @include font-regular;
    padding-right: 40%;
    width: auto;
  }
}
.small-logo {
  margin-right: 24px;
  @include tablet-breakpoint {
    height: 50%;
  }
  @include desktop-breakpoint {
    margin-right: 32px;
  }
}

.footer-logo h3 {
  display: none;
  @include tablet-breakpoint {
    color: $mercury;
    display: flex;
    @include tabdesk-small-header;
    text-transform: uppercase;
  }
  @include desktop-breakpoint {
    @include tabdesk-small-header;
  }
}

.contact-info__copyright {
  margin-left: 14px;
  color: $silver;
  @include tablet-breakpoint {
    margin-left: 24px;
    @include font-regular;
    font-size: 13px;
    line-height: 18px;
  }
}
.contact-info__wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 205px;
  margin: 0 0 0 12px;
  @include tablet-breakpoint {
    justify-content: space-between;
    margin: 0 24px;
    flex-direction: row;
    width: auto;
    height: auto;
  }
  @include desktop-breakpoint {
    justify-content: space-between;
    padding-right: 27%;
    width: auto;
  }
}
.contact-names__wrapper {
  @include mobile-paragraph;
  @include tablet-breakpoint {
    justify-content: space-evenly;
    justify-content: row;
    max-width: 224px;
    height: auto;
  }
}

.contacts__wrapper {
  color: $silver;
  @include mobile-paragraph;
  @include tablet-breakpoint {
    justify-content: space-evenly;
    justify-content: row;
    max-width: 224px;
    height: auto;
  }
}
.emails__wrapper {
  color: $silver;
  @include mobile-contacts;
  @include tablet-breakpoint {
    justify-content: row;
    max-width: 224px;
    height: auto;
  }
}
